Makefile
Makefile.in

aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
stamp-h1

*.o
*.lo
*.la
*.libs/
*.a
*.so
*.so.*
*.dll
*.exe

.deps/
.libs/
*.dSYM/
*.d

libtool
ltmain.sh
TAGS
ID
*.tar.gz
*.tar.bz2
*.tar.xz

*.rej
*.orig
*.bak
*~
core

.vscode/
.history/
*.code-workspace

.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/
